.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-style: italic;
  border: none;
  background-color: rgb(247, 222, 194);
  box-shadow: 0 0 10px 5px rgba(238, 177, 107, 1);
}
.input::placeholder {
  margin-left: 10px;
}
.button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgb(37, 35, 28);
  border: none;
  color: antiquewhite;
  font-style: italic;
}
